@keyframes anim2{
    from {
        background-color: limegreen;
    }
    
    to {
        background-color: lime;
    }
}

body {
    font-size: x-large;
    text-align: center;    
    color: white;
    animation-name: anim2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;  
}
